/*     display: flex; */

@font-face {
	font-family: 'Syne';
	src: url('../fonts/Syne/Syne-VariableFont_wght.ttf');
  }

body {
    display: flex;
	font-family: "Kumbh Sans";
	color: #757575;
	justify-content: center;
	overflow-x:hidden
}

html {
	cursor: url('../img/pointers.svg'), pointer;
	overflow-x:hidden
}

.flex-container{
    display: inline-block;
    zoom: 1;
    display*: inline; /* ie hack */
    width: 75%;
}

h1{
	font-family: 'Syne';
	font-size: 3.3em;
	max-width: 900px;
	color: #000;
	font-variation-settings: 'wdth' 1100, 'wght' 740;
	font-weight: 740;
	letter-spacing: 0.001em;
}

h3{
	font-size:15px;
}

h4{
	font-size: 19px;
	font-family: "Syne";
	line-height: 0px;
	margin: 25px 0px 20px 0px;
	color: #464646;
	font-variation-settings: 'wdth' 1100, 'wght' 710;
	font-weight: 710; 
}


a{
	color: #49BCDF;
	font-weight: bold;
	text-decoration: none;
	font-weight: normal;
	letter-spacing: 0.001em;
	cursor: url(../img/handpoint.svg), pointer;
}

#border{
	padding: 15%;
	overflow: hidden;
} 


/* cover */

figure{
	margin: 0;
    background-position: center;
    background-size: cover;
	background-image: url("../img/cover-background.png");
    width: 100%;
    max-height: 1300px;
    background-repeat: repeat;
    padding: 20%;
	justify-content: left;
	margin-left: -22%;
  	margin-right: -22%;
}

#designer{
	margin-left: 2%;
}


#name{
	font-size: 22px;
}


h2 a{
	text-decoration: none;
	
}


/* Selected work */


#selected-work{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
}


.work-box{
	flex: 1;
	font-size: 16px;
	min-width: 280px;
	padding-bottom: 10%;
}

.work-box a{
	text-decoration: none;
	font-weight: bold;

}

.work-box img{
	max-height:190px;
}

.work-box p{
	width: 275px;

}


/* last section */


#other-section span{
	font-family: "Kumbh Sans";
	font-size: 19px;
	align-content: center;
	display: inline-block;
	max-width: 1200px;
	padding-right: 5%;
	padding-bottom: 4%;
	color: #757575;
}

#other-section img{
	float: right;
}

#other-section h4{
	padding-top: 4%;
	padding-bottom: 1%;
}

.flex-other{
	display: flex;
    flex: 1;
}

#other-section{
	display: flex;
	flex-wrap: wrap;
    flex: 1;
}


#writing{
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #FFFEF2;
	position: relative; /* child absolute */
  	margin: 0 -9999rem;
  /* add back section padding value */
 	 padding: .25rem 9999rem;
}

#talks{
	padding-top: 7%;
	padding-bottom: 5%;
	background-color: #fff;
	position: relative; /* child absolute */
  	margin: 0 -9999rem;
  /* add back section padding value */
 	 padding: .25rem 9999rem;
}

#side-projects{
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #F6FDFF;
	position: relative; /* child absolute */
  	margin: 0 -9999rem;
  /* add back section padding value */
 	padding: .25rem 9999rem;
}

.description{
	color: #000;
}


footer{
	font-family: "Kumbh Sans";
	text-align: center;
	margin-top: 10%;
	font-size: 19px;
	text-decoration: none;
	padding-bottom: 5%;
	justify-content: center;
}

footer a{
	text-decoration: none;
}


/* RUNG0 */

.csheader h1{
	font-family: "Merriweather";
}

.j img{
	max-height: 35px;
}


/* MEDIA QUERIES */

@media (max-width: 600px) {
    #other-section img {
        display: none;
    }
    #span {
    	padding-right: 0;
	}
	h1 {
		font-size: 2.8em;		
	}
}
