/* line 7, ../sass/style.sass */
.footerlabel {
  border-style: solid;
  border-width: 1px;
  color: white;
  width: 150px;
  text-align: center;
  margin: 0 auto;
  padding-top: 12px;
  margin-top: 10px;
}

/* line 17, ../sass/style.sass */
.uiuxsection {
  max-width: 800px;
  float: center;
  margin-left: 0;
  margin-right: 0;
}

/* line 23, ../sass/style.sass */
#down {
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  bottom: 0.1%;
  display: inline-block;
  font-size: 18px;
  padding: 20px;
  position: absolute;
  white-space: nowrap;
  z-index: 2;
  left: 47%;
  opacity: 0.8;
}

/* line 36, ../sass/style.sass */
.sections {
  margin: 0 auto;
  float: none;
  padding-left: 20%;
  padding-right: 20%;
}

/* line 42, ../sass/style.sass */
.row {
  margin-left: 0;
}

/* line 46, ../sass/style.sass */
#socials {
  text-align: center;
}
/* line 48, ../sass/style.sass */
#socials i {
  padding: 7px;
  color: gray;
}

/* line 52, ../sass/style.sass */
body {
  font-family: "Lato" !important;
  background-color: white;
  color: #606060;
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

/* line 61, ../sass/style.sass */
html {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

/* line 67, ../sass/style.sass */
.startupweek {
  padding-top: 6em;
  padding-bottom: 6em;
}

/* line 71, ../sass/style.sass */
div.startupweek:nth-child(odd) {
  background-color: #f7f7f7;
}

/* line 74, ../sass/style.sass */
div.startupweek:nth-child(4) {
  padding-bottom: 0px;
}

/* line 78, ../sass/style.sass */
header a {
  color: white;
}

/* line 81, ../sass/style.sass */
h1 {
  text-align: center;
  font-weight: 600;
  font-size: 4em;
  font-family: "Lato", sans-serif !important;
}

/* line 87, ../sass/style.sass */
.button1 {
  background-color: #000;
  height: 50px;
  color: white;
  width: 160px;
  text-align: center;
  display: inline-block;
  margin-top: 9px;
}
/* line 95, ../sass/style.sass */
.button1 p {
  padding-top: 12px;
  font-size: 1.7em;
}

/*RUNGO PAGE  sdfdsf */
/* line 106, ../sass/style.sass */
.userstory {
  text-align: center;
  padding: 10%;
  font-size: 1.3em;
  background-color: #f8f8f8;
  margin-top: 50px;
}

/* line 113, ../sass/style.sass */
.persona {
  font-size: 1.3em;
  font-color: #000;
  font-weight: 600;
  margin-bottom: -5px;
}

/* line 120, ../sass/style.sass */
.uiux h4 {
  padding-top: 25px;
}

/* line 124, ../sass/style.sass */
.j {
  color: #000;
}
/* line 125, ../sass/style.sass */
.j a {
  font-size: 3em;
  padding-left: 1em;
  padding-top: 5em;
  color: #000;
}
/* line 132, ../sass/style.sass */
.j a:visited {
  color: #000;
}
/* line 134, ../sass/style.sass */
.j a:hover {
  color: #000;
}
/* line 136, ../sass/style.sass */
.j a:active {
  color: #000;
}

/* line 140, ../sass/style.sass */
.projectpage h4 {
  font-size: 1.5em;
}

/* line 143, ../sass/style.sass */
.csheader {
  color: #000;
  text-align: center;
  margin: 0 auto;
  padding-top: 1.7em;
  font-family: "Merriweather";
  font-size: 22px;
  letter-spacing: 1px;
  color: #757575;
}

/* line 149, ../sass/style.sass */
.cssubtitle {
  color: #aac0aa;
  font-size: 1.5em;
  padding: 1em;
}

/* line 155, ../sass/style.sass */
#phone2 img {
  width: 90%;
  display: block;
  margin-left: 10%;
  margin-right: 0px;
}

/* line 161, ../sass/style.sass */
.projectimages {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 6%;
  padding-top: 6%;
}
/* line 166, ../sass/style.sass */
.projectimages img {
  width: 100%;
}

/* line 173, ../sass/style.sass */
.navbar-brand {
  padding: 0;
}

/* line 176, ../sass/style.sass */
.intro-body {
  padding-top: 0px;
}

/* line 179, ../sass/style.sass */
.page-scroll {
  color: white;
}

/* line 182, ../sass/style.sass */
.fa-bar-chart {
  color: #0877ba;
}

/* line 185, ../sass/style.sass */
.fa-tachometer {
  color: #0877ba;
}

/* line 188, ../sass/style.sass */
.section5 {
  text-align: center;
  margin: 0 auto;
  background-image: url("../img/runners2.png");
  padding: 100px;
  color: white;
}
/* line 190, ../sass/style.sass */
.section5 row {
  text-align: center;
  margin: 0 auto;
}

/* line 198, ../sass/style.sass */
h6 {
  color: white;
  text-transform: none;
  font-size: 1.6em;
  font-weight: 300;
}

/* line 204, ../sass/style.sass */
h3 {
  color: white;
  text-transform: none;
  font-size: 2.3em;
  font-weight: 500;
  color: #000;
}
/* line 211, ../sass/style.sass */
h3 a:visited {
  color: #000;
}
/* line 213, ../sass/style.sass */
h3 a:hover {
  color: #000;
}
/* line 215, ../sass/style.sass */
h3 a:active {
  color: #000;
}

/* line 218, ../sass/style.sass */
h2 {
  color: #999999;
  text-align: center;
  margin: 10px;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 1.6;
}

/* line 226, ../sass/style.sass */
.svgsize {
  width: 80px;
}

/* line 230, ../sass/style.sass */
#phone2 img {
  width: 90%;
  display: block;
  margin-left: 10%;
  margin-right: 0px;
}

/* line 237, ../sass/style.sass */
.imgsize img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

/* line 242, ../sass/style.sass */
.firstsection {
  padding: 50px;
}

/* line 245, ../sass/style.sass */
.routetitle {
  text-align: center;
  color: #606060;
  text-transform: none;
  font-weight: 500;
  padding-bottom: 20px;
  margin-bottom: 0px;
  padding-top: 10px;
  font-size: 2em;
}

/* line 255, ../sass/style.sass */
.label {
  display: inline;
  padding: 0.5em 1.8em 0.5em;
  font-size: 0.65em;
  font-weight: 200;
  line-height: 1;
  color: #0877ba;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 1.3em;
  font-size: 0.5em;
  text-transform: none;
}

/* line 269, ../sass/style.sass */
.label-primary {
  background-color: white;
  border-color: #0877ba;
  border-style: solid;
  border-width: 1px;
}

/* line 275, ../sass/style.sass */
h4 {
  color: #000;
  text-align: left;
  font-size: 2.3em;
}

/* line 280, ../sass/style.sass */
#contact {
  background-color: #0877ba;
  width: 100%;
}

/* line 284, ../sass/style.sass */
footer {
  height: 100px;
  padding-top: 0px;
  text-align: center;
}
/* line 291, ../sass/style.sass */
footer p {
  font-size: 0.4em;
  color: #49BCDF;
}

/* line 294, ../sass/style.sass */
.shoutout {
  text-align: center;
}

/* line 297, ../sass/style.sass */
#contactForm {
  padding-bottom: 40px;
  margin-bottom: 20px;
}

/* line 301, ../sass/style.sass */
.textgroup {
  padding-top: 50px;
}

/* line 304, ../sass/style.sass */
.statsdetail2 {
  padding-bottom: 110px;
}

/* line 307, ../sass/style.sass */
.col-md-6 {
  text-align: left;
}

/* line 310, ../sass/style.sass */
.section1 {
  height: 250px;
  text-align: center;
}
/* line 313, ../sass/style.sass */
.section1 p {
  margin-bottom: 15px;
}
/* line 315, ../sass/style.sass */
.section1 h3 {
  color: #606060;
  padding: 40px;
  font-size: 1.5em;
  line-height: 2em;
}

/* line 322, ../sass/style.sass */
.section1rungo h4 {
  color: #000;
  font-size: 2em;
  line-height: 2em;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
  line-height: 1.2em;
}

/* line 334, ../sass/style.sass */
.intro-body {
  text-align: right;
}
/* line 337, ../sass/style.sass */
.intro-body #iphone1 {
  text-align: center;
}
/* line 339, ../sass/style.sass */
.intro-body #iphone1 img {
  height: 70%;
}

/* line 342, ../sass/style.sass */
#ios {
  text-align: center;
  height: 52px;
}

/* line 346, ../sass/style.sass */
#android {
  text-align: center;
  width: 150px;
}

/* line 350, ../sass/style.sass */
.runningstats {
  padding-top: 110px;
}
/* line 352, ../sass/style.sass */
.runningstats p {
  margin-right: 30%;
  font-weight: 200;
}

/* line 357, ../sass/style.sass */
.brand-heading {
  padding-top: 60px;
  text-transform: none;
  margin-bottom: 0px;
}
/* line 361, ../sass/style.sass */
.brand-heading img {
  width: 70%;
}

/* line 364, ../sass/style.sass */
#boxback {
  opacity: 1;
  background-color: white;
  height: 220px;
  width: 500px;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 10px;
}

/* line 373, ../sass/style.sass */
h1 {
  color: #000;
  font-family: "Merriweather";
}

/* line 376, ../sass/style.sass */
p {
  font-size: 19px;
}

/* line 379, ../sass/style.sass */
li {
  font-size: 1.1em;
}

/* line 382, ../sass/style.sass */
.btnrungo {
  background-color: #000;
  font-size: 14px;
  height: 50px;
  padding-top: 16px;
  text-decoration: none;
  width: 220px;
  text-align: center;
  margin-top: 20px;
}

/* line 398, ../sass/style.sass */
.rungolink a {
  font-size: 2.4em;
}

/* line 402, ../sass/style.sass */
.btn:hover {
  text-decoration: none;
}

/* line 405, ../sass/style.sass */
#contacts {
  background-color: #0877ba;
}
/* line 407, ../sass/style.sass */
#contacts .row {
  background-color: #0877ba;
}
/* line 409, ../sass/style.sass */
#contacts .well {
  background-color: #0877ba;
}

/* line 412, ../sass/style.sass */
.btn {
  float: left;
  background-color: #3eb6ff;
}

/* line 416, ../sass/style.sass */
.sayhi {
  color: white;
  padding: 0;
  padding-top: 30px;
}

/* line 421, ../sass/style.sass */
#phone2 {
  text-align: right;
}

/* line 425, ../sass/style.sass */
.textgroup {
  padding-left: 90px;
}

/* line 428, ../sass/style.sass */
.form-control {
  background-color: #02456d;
  border: none;
  color: white;
  border-radius: 0;
}

/* line 434, ../sass/style.sass */
#savage {
  padding-top: 5em;
}

/* line 437, ../sass/style.sass */
.runningstats {
  padding-bottom: 90px;
}

/* line 440, ../sass/style.sass */
.video {
  padding-top: 60px;
  text-align: center;
}
/* line 443, ../sass/style.sass */
.video h2 {
  padding: 0px;
}

/* line 447, ../sass/style.sass */
#social img {
  height: 40px;
}

/* line 451, ../sass/style.sass */
footer a:link {
  font-size: 3em;
  color: white;
}

/* line 455, ../sass/style.sass */
i {
  font-size: 3em;
  font-size-color: white;
}

/* line 460, ../sass/style.sass */
.col-md-6 a {
  font-size: 3em;
  color: white;
}

/* line 465, ../sass/style.sass */
iframe {
  width: 700px;
  height: 400px;
}

/* line 470, ../sass/style.sass */
.mobilerungo img {
  display: none;
}

/* line 474, ../sass/style.sass */
#otherphone img {
  display: block;
}

/* line 477, ../sass/style.sass */
a {
  color: #000;
}
/* line 479, ../sass/style.sass */
a:visited {
  color: white;
}
/* line 481, ../sass/style.sass */
a:hover {
  color: white;
}
/* line 483, ../sass/style.sass */
a:active {
  color: white;
}

/* line 486, ../sass/style.sass */
#titlepage {
  height: 10em;
  padding-top: 3em;
}
/* line 489, ../sass/style.sass */
#titlepage h3 {
  color: #606060;
  text-align: center;
  font-size: 2em;
}

@media (max-width: 992px) {
  /* line 497, ../sass/style.sass */
  .btnrungo {
    display: inline-block;
    width: 200px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: 0 auto;
    margin-right: 0 auto;
  }

  /* line 506, ../sass/style.sass */
  ul {
    list-style-type: none;
    padding-left: 0px;
  }

  /* line 509, ../sass/style.sass */
  .mobilerungo {
    text-align: center;
  }
  /* line 510, ../sass/style.sass */
  .mobilerungo img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  /* line 516, ../sass/style.sass */
  #otherphone img {
    display: none;
  }
  /* line 519, ../sass/style.sass */
  #otherphone .col-md-6 {
    text-align: left;
  }

  /* line 521, ../sass/style.sass */
  #contactForm {
    padding: 0px;
  }

  /* line 524, ../sass/style.sass */
  #iphone1 img {
    height: 200px;
  }

  /* line 526, ../sass/style.sass */
  .brand-heading {
    text-align: center;
    padding-top: 60px;
  }
  /* line 529, ../sass/style.sass */
  .brand-heading img {
    width: 170px;
  }

  /* line 531, ../sass/style.sass */
  .intro-text {
    text-align: center;
  }

  /* line 534, ../sass/style.sass */
  #iphone1 img {
    height: 350px;
  }

  /* line 536, ../sass/style.sass */
  #app {
    text-align: center;
  }

  /* line 538, ../sass/style.sass */
  .col-md-4 {
    position: relative;
  }

  /* line 540, ../sass/style.sass */
  .section1 {
    margin-bottom: 170px;
    position: relative;
  }
  /* line 543, ../sass/style.sass */
  .section1 h3 {
    padding: 10px;
    line-height: 1.5em;
  }

  /* line 546, ../sass/style.sass */
  .textgroup {
    text-align: center;
    margin: 0 auto;
    padding: 0px;
  }
  /* line 550, ../sass/style.sass */
  .textgroup h4 {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
  }

  /* line 554, ../sass/style.sass */
  .uiuxsection {
    text-align: center;
    margin: 0 auto;
    padding: 0px;
  }
  /* line 558, ../sass/style.sass */
  .uiuxsection h4 {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
  }

  /* line 562, ../sass/style.sass */
  .runningstats {
    margin: 0 auto;
    padding-top: 30px;
  }
  /* line 565, ../sass/style.sass */
  .runningstats p {
    padding-left: 20%;
    padding-right: 20%;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  /* line 570, ../sass/style.sass */
  .runningstats h4 {
    color: #606060;
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
  }

  /* line 575, ../sass/style.sass */
  iframe {
    width: 300px;
    height: 250px;
  }

  /* line 579, ../sass/style.sass */
  .shoutout img {
    padding: 16px;
  }

  /* line 581, ../sass/style.sass */
  .intro-body {
    padding-left: 0px;
    text-align: center;
  }
  /* line 585, ../sass/style.sass */
  .intro-body #iphone1 img {
    height: 500px;
  }

  /* line 588, ../sass/style.sass */
  h2 {
    font-size: 2.8em;
  }

  /* line 592, ../sass/style.sass */
  #phone2 img {
    display: none;
  }

  /* line 594, ../sass/style.sass */
  #boxback {
    width: 80%;
    height: 170px;
  }
  /* line 597, ../sass/style.sass */
  #boxback p {
    font-size: 0.8em;
    margin-top: -2px;
  }
  /* line 600, ../sass/style.sass */
  #boxback h1 {
    font-size: 2.9em;
    letter-spacing: -1px;
    font-family: "Merriweather" !important;
  }
  /* line 604, ../sass/style.sass */
  #boxback h2 {
    font-size: 1.7em;
  }
  /* line 606, ../sass/style.sass */
  #boxback .button1 {
    height: 43px;
    font-size: 1.8em;
  }

  /* line 609, ../sass/style.sass */
  .startupweek {
    padding-bottom: 0em;
  }

  /* line 612, ../sass/style.sass */
  .startupweek:first-child {
    margin-top: 40px;
    padding-top: 3em;
  }

  /* line 615, ../sass/style.sass */
  .sections {
    padding-left: 6%;
    padding-right: 6%;
  }

  /* line 619, ../sass/style.sass */
  .imgsize {
    width: 50%;
    margin: 0 auto;
  }

  /* line 623, ../sass/style.sass */
  .firstsection {
    padding: 20px;
  }

  /* line 627, ../sass/style.sass */
  .footerlabel p {
    height: 11px;
  }

  /* line 629, ../sass/style.sass */
  footer {
    padding-top: 19px;
  }
}
@media (max-width: 600px) {
  /* line 635, ../sass/style.sass */
  .brand-heading {
    padding-top: 0px;
  }

  /* line 637, ../sass/style.sass */
  #down {
    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
    bottom: 9%;
    display: inline-block;
    font-size: 18px;
    padding: 20px;
    position: absolute;
    white-space: nowrap;
    z-index: 2;
    left: 40%;
    opacity: 0.4;
  }

  /* line 649, ../sass/style.sass */
  #boxback {
    height: 230px;
  }
}
